name: Train Model (MLflow Project)

on:
  workflow_dispatch:
  push:
    branches: ["main", "master"]
    paths:
      - "MLProject/**"
      - ".github/workflows/train-model.yml"

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 numpy pandas scikit-learn joblib

      - name: Run MLflow Project
        env:
          # simpan tracking di folder sementara runner (bukan repo)
          TRACKING_DIR: ${{ runner.temp }}/mlruns_ci
          MLFLOW_TRACKING_URI: file:${{ runner.temp }}/mlruns_ci
        run: |
          mkdir -p "$TRACKING_DIR"

          # pastikan dataset sesuai struktur ketentuan
          test -f "MLProject/namadataset_preprocessing/Stroke_preprocessing.csv"

          # jalankan project
          mlflow run MLProject --env-manager local -e main \
            -P data_path="Stroke_preprocessing.csv" \
            -P model="logreg" \
            -P tracking_dir="$TRACKING_DIR"

      - name: Upload MLflow runs (artifact)
        uses: actions/upload-artifact@v4
        with:
          name: mlruns_ci
          path: ${{ runner.temp }}/mlruns_ci
          if-no-files-found: error
