name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 numpy pandas scikit-learn joblib

      - name: Run MLflow Project (local env)
        run: |
          mkdir -p MLProject/mlruns_ci
          export MLFLOW_TRACKING_URI="file:${GITHUB_WORKSPACE}/MLProject/mlruns_ci"

          mlflow run MLProject --env-manager local -e main \
            -P data_path="Stroke_preprocessing.csv" \
            -P model="logreg" \
            -P tracking_dir="mlruns_ci"

      - name: Upload MLflow runs
        uses: actions/upload-artifact@v4
        with:
          name: mlruns_ci
          path: MLProject/mlruns_ci
